################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

BaseComponent/obj
BaseComponent/bin/x86
.vs/
packages/
/MigrationBackup/921c658b/BaseComponent
